# ============================================================================ #
# OS Generated                                                                 #
# ============================================================================ #
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini


# ============================================================================ #
# Unity Generated                                                              #
# ============================================================================ #
*/[Tt]emp/
*/[Ll]ibrary/
*/[Oo]bj/
*/sysinfo.txt
*/*.stackdump


# ============================================================================ #
# Visual Studio / MonoDevelop Generated                                        #
# ============================================================================ #
*/.vs/
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj


# ============================================================================ #
# Common Repository Child Directories                                          #
# ============================================================================ #
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/

# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store